.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  max-width: 400px;
  padding: var(--spacing-32);
  background: var(--color-background-primary);
  border-radius: var(--radius-12);
}

.title {
  font-weight: var(--typography-weight-bold);
  font-size: var(--size-24);
  line-height: var(--typography-line-height);
}

.description {
  line-height: var(--typography-line-height);
  color: var(--color-foreground-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.consentRow {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.consentError {
  font-size: var(--spacing-14);
  color: var(--color-system-danger-strong);
}
